@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #DF444B;
    font-family: 'Heebo';
    position: absolute;
    top: 42%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 83px;
    content: "";
    position: absolute;
    border-bottom: 8px solid #ff4a4a;
    width: 250px;
    right: 47px;
    bottom: -110px;
}
 a {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color:#DF444B;
    color: white;
    padding: 15px;
    border-radius: 0px;
    text-decoration: none;
    font-family: 'Outfit';
    margin: 573px;
    top: -771px;
    left: -494px;
    position: relative;
    font-family: "Calistoga", serif;
}

p {
    
}

header {
    background-color: #363636;
    padding: 10px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 8px;
    padding: 53px;
    width: 1245px;
    top: -1198px;
}

img {
    position: relative;
    right: 8px;
    padding-top: 1px;
    max-width: 1347px;
    max-height:750px;
    width: auto;
    height: auto;
    
    background-size: cover;
}